automation/n8n_workflow.json
{
    "name": "Salla Low Stock Alerts",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "salla-low-stock",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "message",
                            "value": "={{$json[\"body\"][\"product_name\"]}} is low on stock! Quantity: {{$json[\"body\"][\"current_quantity\"]}}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Format Message",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "sheetId": "ENTER_YOUR_SHEET_ID_HERE",
                "range": "A:C",
                "options": {}
            },
            "name": "Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 1,
            "position": [
                650,
                200
            ],
            "disabled": true,
            "notes": "Enable this to save alerts to Google Sheets"
        },
        {
            "parameters": {
                "chatId": "ENTER_CHAT_ID",
                "text": "={{$node[\"Format Message\"].json[\"message\"]}}",
                "additionalFields": {}
            },
            "name": "Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                650,
                400
            ],
            "disabled": true,
            "notes": "Enable this to send Telegram alerts"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Format Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Message": {
            "main": [
                [
                    {
                        "node": "Google Sheets",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}